body {
	font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	color: #333333;
}

label {
	font-weight: 400 !important;
}

h1,
h2,
h3 {
	font-family: 'Work Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	font-weight: 700 !important;
}
